body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://img.freepik.com/vector-gratis/corazones-del-dia-san-valentin-fondo-rosa-cielo-nublado_38030-388.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    overflow: hidden;
}

.message {
    padding: 20px;
    background-color: #ff69b4;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.hearts-child {
    position: absolute;
    animation: floatHearts 5s ease-in-out infinite;
    font-size: 30px;
    top: 100%;
}

@keyframes floatHearts {
    0% { transform: translateY(0) scale(1); opacity: 1; }
    50% { transform: translateY(-150px) scale(1.5); opacity: 0.5; }
    100% { transform: translateY(-300px) scale(0.5); opacity: 0; }
}